@page "/demos"
@layout CustomLayout
@using System.IO
@inject MyBlog.Data.Interfaces.ICategoryRepo CategoryRepo
<h3>DemoPage</h3>
@{
    @SomeProp
    <text>Name: <strong>@Name</strong></text>

    <p>Implicit Expression: @Number - 1</p>

    <p>Explicit Expression: @(Number - 1)</p>

    <p>
        <h1>Hello World</h1>
    </p>
    <p>
        @HTMLIGotFromAUser
    </p>
    <p>
        @((MarkupString)HTMLIGotFromAUser)
    </p>
    

}
@code{
    public string HTMLIGotFromAUser { get; set; } = "<script>alert('All your base are belong to me!');</script>";
    public int Number { get; set; } = 77;
    public string SomeProp { get; set; } = "blah";
    public string Name { get; set; } = "Steve Jobs";

    public int dosomething()
    {
        var myfile = File.Open("C:/Blah.txt",FileMode.Open);

        return 1;
    }
}

