@page "/EditCategory/{Id:int?}"
@using MyBlog.Data.Models
@inject MyBlog.Data.Interfaces.ICategoryRepo Repo
@inject NavigationManager NavManager

<h3>Edit Category Page</h3>
@if(Category == null)
{
    <p>Category does not exist.</p>
}
else
{
    <p>
    
        <label for="nameInput">Name</label>
        <input type="text" id="nameInput" class="form-control" @bind="Category.Name" />
    </p>
    <p>
        <button type="button" class="btn btn-primary" @onclick="OnSubmitButtonClickAsync">Submit</button>
    </p>
    <p>
        @Message
    </p>
}
@code {
    [Parameter]
    public int? Id { get; set; }   

    public Category? Category { get; set; } 

    public string? Message { get; set; }

    protected async override Task OnParametersSetAsync()
    {        
        await base.OnParametersSetAsync();
        if (Id == null)
        {
            Category = new Category();
        }
        else
        {
            Category = await Repo.GetCategoryAsync((int)Id);
        }
    }

    private async void OnSubmitButtonClickAsync()
    {
        if (Category != null)
        {
            await Repo.SaveCategoryAsync(Category);
        }
        NavManager.NavigateTo("/categories");
    }
}
