@page "/EditCategory/{Id:int}"
@using MyBlog.Data.Models
@inject MyBlog.Data.Interfaces.ICategoryRepo Repo
@inject NavigationManager NavManager

<h3>Edit Category Page</h3>

<p>
    
    <label for="nameInput">Name</label>
    <input type="text" id="nameInput" class="form-control" @bind="Category.Name" />
</p>
<p>
    <button type="button" class="btn btn-primary" @onclick="OnSubmitButtonClickAsync">Submit</button>
</p>
<p>
    @Message
</p>
@code {
    [Parameter]
    public int Id { get; set; }     

    public Category Category { get; set; } = new Category();   

    public string Message { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        Category = await Repo.GetCategoryAsync(Id);
    }

    private async void OnSubmitButtonClickAsync()
    {
        await Repo.SaveCategoryAsync(Category);
        NavManager.NavigateTo("/categories");
    }
}
