@page "/"
@using MyBlog.Data.Interfaces
@using MyBlog.Data.Models
@using MyBlog.Data.Repos
@inject IBlogPostRepo repo

<PageTitle>Index</PageTitle>
<button @onclick="AddSomePosts">Add some fake posts</button>

<br />
<br />

<ul>

    @foreach (var p in posts)
    {
        <li><a href="/Post/@p.Id">@p.Title</a></li>
    }

</ul>
@code {
    protected async Task AddSomePosts()
    {
        var newPost = await repo.SaveBlogPostAsync(new BlogPost()
            {
                PublishDate = DateTime.Now,
                Title = $"Blog post {DateTime.Now.ToString("D")} {DateTime.Now.ToString("T")}",
                Text = "Text"
            });
        posts.Add(newPost);
    }

    protected List<BlogPost> posts = new List<BlogPost>();

    protected override async Task OnInitializedAsync()
    {
        posts = await repo.GetBlogPostsAsync(10, 0);
        await base.OnInitializedAsync();
    }
}


