<h3>MySharedComponent</h3>
<p style="background-color: lawngreen">
    <MySharedSharedComponent />
    @Text
    blah
</p>

@code {
    [CascadingParameter]
    public string Text { get; set; } = "Original value";
}
